h1, h2, h3, h4 { margin: 0; font-size: 100%;  }

h1 { font-size: 130%;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.results {
  }

.center-stuff {
  display: block;
  margin: auto;
  width: 50%;
  background: pink;
}

.one-column { width: 25%; }

.two-column { width: 50%; }
.offset-one { margin-left: 25%;}